// General style for both the blog index and individual blog content
.blog-item-tag {
  background-color: $green-lighter;
  color: $green-dark;
}

// Blog index styling
.blog-container {
  
  #blog-items-container {

    .blog-items {
      height: 27rem !important;

      .blog-item-link {
        .blog-item-text-container {
          h2 {
            line-height: 1.8rem !important;
          }
        }
      }
    }
  }
}

// Blog content styling
.blog-content-container {
  // Blog content styling.
  .blog-item {
    .blog-item-body {
      margin: 0 auto;

      .blog-highlighted-text {
        background: $green-lighter;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: bold;
        margin: 1.5rem 0;
        color: #374151;
      }

      h1 {
        font-size: 1.875rem;
      }
      h2 {
        font-size: 1.5rem;
      }
      h3 {
        font-size: 1.25rem;
      }
      h4 {
        font-size: 1.125rem;
      }
      h5 {
        font-size: 1rem;
      }
      h6 {
        font-size: 0.875rem;
      }

      small,
      strong,
      b {
        color: #374151;
      }

      p {
        margin-bottom: 0.5rem;
        line-height: 1.8;
      }

      ul {
        list-style-type: decimal !important;
        margin: 1.5rem 0;

        li {
          margin-bottom: 0.5rem;

          ul {
            list-style-type: disc !important;
            margin-left: 1rem;
          }
        }
      }

      blockquote {
        border-left: 2px solid $green-light;
        margin: 1rem 0;

        p,
        small {
          margin-left: 1.4rem;
        }

        p {
          font-style: italic !important;
        }
      }

      pre {
        margin: 1rem 0;
        overflow-x: scroll !important;
        border-radius: 0.75rem;
        border: 2px solid $green-light;
        padding: 1.5rem;
      }

      a {
        color: $green-light !important;
        border-bottom: 1px solid $green-light;
      }
    }
  }
}
