#duowork {

  .hideTransition {
    @include hideElementTransition;
  }

  .showTransition {
    @include showElementTransition;
  }

  #landing-page-home {
    position: relative;

    video {
      position: absolute !important;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .landing-page-nav__home {
      #nav-items {
        min-width: 400px;
  
        .nav-item-link {
          align-self: center;
        }
      }

      .landing-page-nav__item-right {
        .cta-nav-item-contact {}

        #language-selector {
          .language-selector__button {
            span {
              font-variant: all-petite-caps;
            }
          }
        }
      }
    }

    // Overlay background image with opaque black
    #overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.9);
    }
  }

  #hero-container {
    #hero-title {
      line-height: 1.5;
    }

    #hero-description {}

    #hero-button {
      width: 200px;
      max-width: 200px;
      border: 1px solid $accent-color;
      background-color: transparent !important;

      #button-text {
        display: inline-block;
        width: 70%;
        font-weight: 300;
        font-size: medium;
      }

      #right-arrow {
        height: 100%;
        width: 30%;
        color: $secondary-color;
        font-size: 50px;
        display: flex;
        justify-content: center;
        line-height: 1;
        background-color: $accent-color;
        border-top-right-radius: 1.8rem;
        border-bottom-right-radius: 1.8rem;
      }
    }
  }

  #what-we-do {
    .what-we-do-divide {
      width: 50%;
    }

    #what-we-do-intro {
      #what-we-do-description {
        max-width: 515px;

        .description-highlight {
          background: $green-light;
        }
      }

      .what-we-do-cta-btn {
        @include respond-above(lg) {
          margin-left: 10rem;
        }

        width: 150px;
      }
    }

    @media(prefers-reduced-motion) {
      .hideTransition {
        transition: none;
      }
    }
  }

  // Portfolio
  #our-work {
    #duowork-portfolio {
      .work-item {
        .work-item-image {
          width: 400px;
          height: 250px;
          object-fit: cover;
        }
        .work-other-container {
          .work-tag {
            display: block;
            width: 15rem;
          }

          p#work-type{
            background-color: $green-lighter;
          }

          .project-link {
            border: 2px solid $green-lighter;
          }
        }
      }
    }
  }

  #our-services {
    #service-header {
      #underline-header {
        width: 0px;
        max-width: 250px;
        height: 1px;
        background: $green-light;
        display: inline-block;
        visibility: hidden;

        /* 
          Animation style
          ---------------
          visibility: visible;
          width: 300px; // Will be set by window scroll
         */
      }
    }

    #services-container {
      height: auto;
      .services {
        height: 415px;
        transition: all 300ms ease-in;
        position: relative;

        .service-overlay {
          background-color: rgba(0, 0, 0, 0.7);
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 2;

          p {height: 175px}

          button.services-request-cta {
            // border: 2px solid $green-light !important;
            color: $green-light;
            transition: all 150ms ease-in;

            &:hover {
              color: white !important;
              background-color: $green-light !important;
            }
          }
        }

        // &:hover {
        //   background-position: bottom !important;
        // }
      }

    }

    #our-process {
      #process-header {
        #underline-header {
          width: 0px;
          max-width: 250px;
          height: 1px;
          background: $green-light;
          display: inline-block;
          visibility: hidden;

          /* 
          Animation style
          ---------------
          visibility: visible;
          width: 190px; // Will be set by window scroll
         */
        }
      }

      #process-container {
        .process {
          max-width: 500px;
          height: 300px;

          .process-title {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 1.5rem 0.5rem 0.5rem 0.5rem;
            margin-bottom: 1.5rem;

            .title {
              font-size: 1.25rem;
              line-height: 1.75rem;
              color: $green-light;
            }

            .process-number {
              display: inline-block;
              width: 55px;
              height: 30px;
              background: $green-lighter;
              text-align: center;
              font-weight: 600;
            }
          }

          .process-description {
            padding: 0 1.5rem;
            width: auto;
          }
        }

        /* 
          Transition style
          ---------------
          justify-content: center
          .process {
            width: 500px; // Will be set by window scroll
          }
         */
      }
    }
  }

  #contact-duowork {
    background-color: $green-lighter;
  }
}