#duowork {
  .cta-btn {
    background-color: $green-light;
    height: 50px;
    border-radius: 1.8rem;

    &.nav-contact-cta {
      width: 115px;
    }

    &.intro-cta-btn {
      width: 250px;
    }

    &.services-request-cta {
      width: 200px;
      height: 40px !important;
      border-radius: 2.5px !important;
      background-color: white !important;
    }

    &.service-contact-cta {
      width: 200px;
      height: 40px;
      border-radius: 5px !important;
    }
  }

  .hideTransition {
    @include hideElementTransition;
  }

  .showTransition {
    @include showElementTransition;
  }

  #landing-page-home {
    // Overlay background image with opaque black
    #overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;

      #landing-page-nav {
        #nav-items {
          min-width: 350px;

          .nav-item-link {
            align-self: center;
          }
        }
      }
    }
  }

  #what-we-do {
    .what-we-do-divide {
      width: 50%;
    }

    #what-we-do-intro {
      #what-we-do-description {
        max-width: 515px;
      }

      .what-we-do-cta-btn {
        @include respond-above(lg) {
          margin-left: 10rem;
        }

        width: 150px !important;
      }
    }

    #what-we-do-img {}

    @media(prefers-reduced-motion) {
      .hideTransition {
        transition: none;
      }
    }
  }

  #our-services {
    #service-header {
      #underline-header {
        width: 0px;
        max-width: 250px;
        height: 1px;
        background: $green-light;
        display: inline-block;
        visibility: hidden;

        /* 
          Animation style
          ---------------
          visibility: visible;
          width: 300px; // Will be set by window scroll
         */
      }
    }

    #services-container {
      height: auto;
      .services {
        height: 415px;
        transition: all 300ms ease-in;
        position: relative;

        .service-overlay {
          background-color: rgba(0, 0, 0, 0.7);
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 2;

          p {height: 175px}

          button.services-request-cta {
            // border: 2px solid $green-light !important;
            color: $green-light;
            transition: all 150ms ease-in;

            &:hover {
              color: white !important;
              background-color: $green-light !important;
            }
          }
        }

        // &:hover {
        //   background-position: bottom !important;
        // }
      }

    }

    #our-process {
      #process-header {
        #underline-header {
          width: 0px;
          max-width: 250px;
          height: 1px;
          background: $green-light;
          display: inline-block;
          visibility: hidden;

          /* 
          Animation style
          ---------------
          visibility: visible;
          width: 190px; // Will be set by window scroll
         */
        }
      }

      #process-container {
        .process {
          max-width: 500px;
          height: 300px;

          .process-title {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 2.5rem 0.5rem 0.5rem 0.5rem;
            margin-bottom: 2.5rem;

            .title {
              font-size: 1.25rem;
              line-height: 1.75rem;
              color: $green-light;
            }

            .process-number {
              display: inline-block;
              width: 55px;
              height: 30px;
              background: $green-lighter;
              text-align: center;
              font-weight: 600;
            }
          }

          .process-description {
            padding: 0 1.5rem;
            width: auto;
          }
        }

        /* 
          Transition style
          ---------------
          justify-content: center
          .process {
            width: 500px; // Will be set by window scroll
          }
         */
      }
    }
  }

  #contact-duowork {
    background-color: $green-lighter;

    #how-to-contact {
    }
  }
}
