#duowork {
  #landing-page-home {
    // Overlay background image with opaque black
    #overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;

      #landing-page-nav {
        #nav-items {
          .nav-item-link {
            align-self: center;
          }
        }
      }
    }
  }

  .cta-btn {
    background-color: $green-light;
    height: 50px;
    border-radius: 5px;

    &.nav-contact-cta {
      width: 115px;
    }

    &.intro-cta-btn {
      width: 150px;
    }
  }

  #what-we-do {

      .what-we-do-divide {
          width: 50%;
      }

      #what-we-do-intro {
          #what-we-do-description {
              max-width: 515px;
          };

          .what-we-do-cta-btn {
              width: 150px !important;
          }
      }
  }
}
