#duowork {
  .cta-btn {
    background-color: $green-light;
    height: 50px;
    border-radius: 5px;

    &.nav-contact-cta {
      width: 115px;
    }

    &.intro-cta-btn {
      width: 215px;
    }

    &.services-request-cta {
      width: 200px;
      height: 40px !important;
      border-radius: 50px !important;
      background-color: white !important;
    }
  }

  #landing-page-home {
    // Overlay background image with opaque black
    #overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;

      #landing-page-nav {
        #nav-items {
          .nav-item-link {
            align-self: center;
          }
        }
      }
    }
  }

  #what-we-do {
    .what-we-do-divide {
      width: 50%;
    }

    #what-we-do-intro {
      #what-we-do-description {
        max-width: 515px;
      }

      .what-we-do-cta-btn {
        @include respond-above(lg) {
          margin-left: 10rem;
        }

        width: 150px !important;
      }
    }
  }
  
  #our-services {
    #services-container {
      .services {
        background-color: $green-lighter;
        height: 350px;
        border: 2px solid transparent;
        transition: all 300ms ease-in;

        &:hover {
          background-color: white;
          border-color:$green-lighter !important;

          button.services-request-cta {
            background-color: $green-light !important;
            color: white !important;
            transition: all 300ms ease-in;
          }
        }

        h3 {
          width: 160px;
        }
      }
    }
  }
}
