//samplestyles 
.bgStyle{
    border-radius: "8px";
   
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  }
  .bgStyle2{
   
     background-image:  linear-gradient(0deg, rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6));
  }
  